body {
	min-width: 650px;
}

div.content {
	position: relative;
	overflow: auto;
	background-color: rgb(187, 219, 255);
	font-family: "helvetica", sans-serif;
	border: 5px solid rgb(78, 156, 247);
	border-radius: 2.5px;
	min-height: 75px;
}

div.wrapper {
	position: relative;
	width: calc(100vw - 173.5px);
	left: 150px;
	height: calc(100vh - 264px);
	top: -16px;
	background-color: rgb(191, 191, 191);
	padding: 2.5px;
	padding-bottom: 0px;
	padding-top: 0px;
	border: 2.5px solid rgb(191, 191, 191);
	border-left: 0;
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 5px;
}

header {
	font-family: "helvetica", sans-serif;
	color: rgb(255, 255, 255);
	background-image: radial-gradient(circle, grey, black);
	background-position: 0 -100vh;
	background-repeat: no-repeat;
	background-size: 200vw 200vh;
	border: 1px solid rgba(255, 255, 255, 0);
	margin-bottom: -16px;
	background-attachment: fixed;
	cursor: default;
	padding-left: 5px;
}

header img {
	width: 75px;
	height: 75px;
	display: block;
	position: fixed;
	top: 16px;
	right: 16px;
}

a:link, a:visited {
	height: 18px;
	font-family: Arial;
	color: rgb(255, 255, 255);
	background: rgb(78, 156, 247);
	padding: 14px 25px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: -2.5px;
	margin-top: -13px;
	margin-bottom: -13px;
	border-left: 1px solid rgb(37, 120, 214);
	border-right: 1px solid rgb(37, 120, 214)
}

a:hover, a:active {
	font-family: Arial;
	background: rgb(187, 219, 255);
	padding: 14px 25px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: -2.5px;
	margin-top: -15px;
	margin-bottom: -14px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(37, 120, 214)
}

a:hover img, a:active img {filter: invert(100%);
}

footer {
	position: fixed;
	width: max(calc(100vw - 166px), 225px);
	height: 66.5px;
	background-color: grey;
	top: calc(100vh - 75px);
	left: 158px;
}

footer>a:any-link {
	color: white;
	font-size: 10px;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	margin: 0;
	margin-right: -4px;
	padding: 0;
	border: 0;
	background: transparent;
	text-align: center;
	width: 25%;
}

footer>a:hover {
	text-decoration: underline;
}

footer>a img {
	margin: 0px;
	margin-right: -10px;
	height: 12px;
	width: 12px;
}

footer>a:hover img {
	filter: invert(0%);
}

.menu {
	background: rgb(78, 156, 247);
	padding: 14px 25px;
	cursor: default;
	position: sticky;
	width: calc(100vw - 43.5px);
	height: 22px;
	align-self: center;
	padding-left: 2.5px
}

li {
	font-family: "helvetica", sans-serif;
	font-size: 15px;
	color: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0);
	text-align: left;
	cursor: default
}

h1 {
	font-family: "helvetica", sans-serif;
	margin-left: 15px;
	margin-bottom: 40px;
	cursor: default
}

h1:not(.header) {
	margin-left: 20px
}

h2 {
	font-size: 20px;
	font-family: "helvetica", sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 15px;
	margin-top: -13px;
	margin-bottom: 7.5px;
	cursor: default
}

.menu a img {
	width: 15px;
	height: 15px
}

ul.sidebar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: -16px;
	width: 150px;
	background: rgb(78, 156, 247);
	position: fixed;
	height: calc(100vh - 194px);
	overflow: auto;
	border-top: 1px solid rgb(37, 120, 214)
}

ul.sidebar h1 {
	cursor: default;
	display: inline-block;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
	width: 100%;
	font-size: 20px;
	font-family: Arial;
	color: rgb(255, 255, 255);
	background: rgb(78, 156, 247);
	text-decoration: none;
	text-align: center
}

ul.sidebar li a {
	display: block;
	padding: 8px 16px;
	margin: 0px;
	text-decoration: none
}

ul.sidebar li a:not(:hover) {
	display: block;
	padding: 8px 16px;
	border: 1px solid rgba(255, 255, 255, 0);
	text-decoration: none;
	margin-bottom: -2px;
	border-bottom: 1px solid rgb(78, 156, 247);
	border-top: 1px solid rgb(37, 120, 214)
}

ul.sidebar li a:hover {
	height: 17px;
	background-color: rgb(187, 219, 255);
	color: rgb(255, 255, 255);
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: -1px
}

.settingstext {
	position: relative;
	overflow: scroll;
	margin-left: 150px;
	padding: 1px 16px;
	padding-left: 24px;
	margin-top: -15px
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block
}

.slider {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(187, 219, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s
}

input:checked + .slider {background-color: rgb(78, 156, 247)}

input:focus + .slider {box-shadow: 0 0 1px rgb(78, 156, 247)}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background-color: rgb(255, 255, 255)
}

.slider.round {border-radius: 34px}

.slider.round:before {border-radius: 50%}

h3 {
	cursor: default;
	font-size: 4;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(0, 0, 0);
	display: inline-block;
	margin-right: 20px
}

::-moz-selection {
  background: rgba(255, 255, 255, 0)
}

::selection {
  background: rgba(255, 255, 255, 0)
}
