body {
    display: block;
	margin: 0;
    background: #8a9499;
	font-family: "helvetica", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    display: block;
    width: 100vw;
    height: 120px;
	top: -40px;
    z-index: 500;
	color: #fff;
	background: linear-gradient(to bottom, #34aadc, 20%, #2887b0);
    box-shadow: 0 0 12px -2px #000;
    overflow: visible;
	cursor: default;
}

header > h1#title {
    position: sticky;
    display: inline-block;
    top: 42.5px;
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 20px;
}

header > img#icon {
	position: fixed;
	display: block;
	height: 216px;
	top: 0;
	right: 0;
    border-radius: 0 0 0 50%;
    z-index: 600;
    box-shadow: 0 0 12px -2px #000;
}

header > nav {
    position: sticky;
    display: block;
    float: right;
    height: 60px;
    width: calc(100vw - 600px);
    top: 50px;
    margin-bottom: 10px;
    margin-right: 226px;
    border-radius: 6px;
    background: #2f9bca;
}

aside {
    position: sticky;
    display: block;
    height: calc(100vh - 340px);
    width: 290px;
    top: 80px;
    margin-top: 80px;
    margin-left: -20px;
    border-radius: 0 20px 20px 0;
    z-index: 300;
    background: linear-gradient(to right, #34aadc, 20%, #2887b0);
    box-shadow: 0 0 12px -2px #000;
}

main {
    position: sticky;
    display: block;
    min-height: calc(100vh - 100px);
    width: calc(100vw - 270px);
    left: 270px;
    margin-top: calc(-100vh + 260px);
    margin-bottom: 60px;
    z-index: 100;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}

footer {
	position: sticky;
    display: block;
    width: 100vw;
    height: 100px;
    bottom: -40px;
    margin-top: -60px;
    padding: 21px;
    border-radius: 6px 6px 0 0;
    z-index: 400;
    box-sizing: border-box;
	background: #6c6b6b;
    box-shadow: 0 0 12px -2px #000;
}

footer > span#copyright {
    position: relative;
    display: block;
    color: #ccc;
}