                <div id="fig-wrap">
                    <figure>
                        <figcaption>It's dangerous to go alone! Take this.</figcaption>
                        <img id="wizard" src="/media/wizard.png" alt="a wizard in a brown robe">
                        <div id="tree-wrapper">
                            <!-- adapted from https://codepen.io/ross-angus/pen/jwxMjL -->
                            <ul id="tree">
                                <li class="tree-node">
                                    <a class="tree-node-text" href="/">Home</a>
                                    <ul class="tree-branch">
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/404">404</a>
                                        </li>
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/posts">Posts</a>
                                            <ul class="tree-branch">
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/posts/2023-01-000">2023-01-000</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/posts/2023-01-000.json">2023-01-000.json</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/posts/2023-01-001">2023-01-001</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/posts/2023-01-001.json">2023-01-001.json</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tree-node">
                                            <span class="tree-node-text">Projects</span>
                                        </li>
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/map">Map</a>
                                        </li>
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/media">Media</a>
                                            <ul class="tree-branch">
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/avatar.jpeg">Avatar.jpeg</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/brick-border.png">Brick Border.png</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/stone-left.png">Stone Left.png</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/stone-right.png">Stone Right.png</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/wizard.png">Wizard.png</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/media/nes-font.ttf">NES Font.ttf</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/css">CSS</a>
                                            <ul class="tree-branch">
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/css/style.css">Style.css</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/css/map.css">Map.css</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tree-node">
                                            <a class="tree-node-text" href="/templates">Templates</a>
                                            <ul class="tree-branch">
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/templates/master">Master</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/templates/error">Error</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/templates/post">Post</a>
                                                </li>
                                                <li class="tree-node">
                                                    <a class="tree-node-text" href="/templates/map">Map</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </figure>
                </div>