<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{page} | GoodCoderBBoy's Blog</title>
        <link rel="stylesheet" href="/css/style.css">{css}
        <link rel="icon" href="/media/Avatar.jpeg" />
    </head>
    <body>
        <header>
            <h1 id="title"><a href="/">GoodCoderBBoy</a></h1>
            <img id="icon" src="/media/Avatar.jpeg">
            <nav></nav>
        </header>
        <aside>
            <ul>
                <li>
                    <a href="/posts">all posts</a>
                </li><li>
                    <a href="/map">map</a>
                </li>
            </ul>
        </aside>
        <main>{content}
        </main>
        <footer>
            <span id="copyright">&copy; %d GoodCoderBBoy</span>
        </footer>
    </body>
</html>