<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{page} | Antithesise's Blog</title>
        <link rel="stylesheet" href="/css/master.css">{css}
        <link rel="icon" href="/media/avatar.jpeg">
    </head>
    <body>
        <header>
            <h1 id="title"><a href="/">Antithesise</a></h1>
            <img id="icon" src="/media/avatar.jpeg" alt="Antithesise's avatar">
            <nav></nav>
        </header>
        <aside>
            <ul>
                <li>
                    <a href="/projects">finished projects</a>
                </li>
                <li>
                    <a href="/posts">all posts</a>
                </li>
                <li>
                    <a href="/map">map</a>
                </li>
            </ul>
        </aside>
        <main>{content}
        </main>
        <footer>
            <span id="copyright">&copy; %d Antithesise</span>
        </footer>
    </body>
</html>